* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'COCOGOOSE', sans-serif;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #ec5242;
  color: #272a31;
  background-color: #f7f7f7;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #272a31;
}

/*
  Begin
*/

nav {
  position: fixed;
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.desktop {
  display: none;
}

/* Home */

.home {
  padding: 5rem 1rem;
  overflow-y: visible;
  background: url(img/back.jpg) center 0 no-repeat, #f7f7f7fb;
  background-blend-mode: screen;
  background-size: cover;
}

h5 {
 color: #ec5242;
 font-size: 2rem;
}

h1 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  background: url(img/orangefruit-1636991503397-9063.jpg), #ec5242c9;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-blend-mode: luminosity;
  color: transparent;
}

p {
  border: 0.25rem solid white;
  padding: 1rem;
  background-color: #f7f7f75d;
}

h3 {
  font-family: 'COCOGOOSE', sans-serif;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.about h5 {
  margin-bottom: 1.5rem;
}

.about h2 {
  color: #ec5242;
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.about p {
  text-align: center;
  background-color: #fff;
  border: 1px solid #D3D3D3;
  margin: 2rem 0 0 0;
}

#ps p {
  margin: 1rem 3rem;
  border: none;
  background-color: initial;
}

#ps a {
  text-decoration: underline;
}

/*
  *** DESKTOP ***
*/

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  /* Navbars */
  .bothnav {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    justify-content: space-between;
  }

  .social {
    font-size: 0.75rem;
    background-color: #272a31;
    justify-content: flex-end;
    align-items: center;
  }

  .social ul {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 16vw 0 0;
  }

  .social li {
    padding: 0.75rem;
    margin-right: 1rem;
  }

  .social a {
    color: white;
  }

  .navbar {
    font-size: 1rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }
  
  #logo {
    margin: 0 4vw 0 10vw;
    height: 4rem;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
    margin: 0 10vw 0 0;
  }
  
  .navbar ul li {
    margin-right: 4vw;
  }
  
  .navbar a {
    padding: 0.25rem 1rem;
    border: 0.25rem solid #ec5242;
    min-width: 136px;
  }

  /* Home */
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 7.25rem 20vw 4rem 10vw;
  }

  .home * {
    max-width: 46.25rem;
  }

  /* About */
  .about * {
    max-width: 50rem;
  }

  .about hr {
    content: '';
    border: 2px solid #ec5242;
    border-radius: 8px;
    width: 2rem;
  }

  .about p {
    padding: 1rem 3rem;
  }

  .about .desktop {
    display: inline;
    text-decoration: none;
  }
}
